@import "node_modules/bootstrap/scss/bootstrap.scss";


// GENERAL
$Bleu : #003049;
$ChrismonRed : #D62828;
$Sunburst : #F77F00;
$GoldenRod : #FCBF49;
$Genger : #EAE2B7;
$secondary : $Bleu;
$White : white;
$color: $ChrismonRed;
$background_color : $White;
h2{
    font-size: 42px;
    color: $ChrismonRed;
    padding: 0 0 20px 0;
}

@mixin theme_menu($color, $background_color) {
    color:$color;
    background-color: $background_color;
    text-transform: uppercase;
    font-size: 26px;
}
.container-fluid{
    padding: 0;
}

.breadcrumb{
    background-color: $White;
}
// FIN GENERAL

// PAGE INDEX
header{
    background-color: $ChrismonRed;
    padding: 10px 0 0 0;
    nav{
        padding: 10px 0 10px 0;
        a{
            color: $Genger;
            font-weight: 800;
            &:hover{
                color: $GoldenRod;
            }
        }
    }
}
.btn-outline-success{
    background-color: $GoldenRod;
    &:hover{
        background-color: $Bleu;
        color: $Genger
    }
}
// .navbar{
//     @include theme_menu($color, $background_color);
// }

.header_img{
    width: 100%;
    height: 400px;
    background: url('images/header.jpg');
    background-size: cover;
}
// MENU INLINE-BLOCK

.first_nav{
    // margin: 0 0 20px 0;
    li{
        display: inline-block;
    }
}
.aside_menu{
    ul{ display: block;}
    .nav-item{
        
        a{
            @include theme_menu($color, $background_color);
        font-weight: 800;
        transition: 1s color ease;
        &:hover,
        &:focus{
            color: $Bleu;
            transform: scale(1);
        }
        }
        .active{
            color: $Bleu;
            border-bottom: 10px solid $Sunburst;
        }
    }
    .navbar-toggler{
        background-color: $Bleu;
        &-icon{
            color: $ChrismonRed;
        }
    }
}
// FIN MENU INLINE-BLOCK
.contenu{
    margin: 20px;
   
}
footer{
    background-color: $Bleu;
    color: $Genger;
    text-align: center;
    padding: 20px;
    p{
        padding: 20px 0;
    }
    blockquote p{
        font-weight: 600;
        &::before,
        &::after{
            color: $ChrismonRed;
            font-size: 36px;
            font-family: 'Parisienne';
        }
        &::before{
            content: ' “ ';
        }
        &::after{
            content: ' ” ';
        }
    }
}

// FIN PAGE INDEX

// PAGE CREATION
form{
    input[type=color]{
    width: 80px;
    }
    .custom-file-label{
        margin: 30px;
        width: 200px;
    }
    fieldset{
        margin: 40px 0;
    }
    .figure-caption{
        color: $ChrismonRed;
    }
    .form-check{
        margin-left: 20px;
    }
  
    
    .btn_creation{
        button{
            width: 200px;
            margin: 10px 0;
        }
    }
    .btn-success{
        background-color: $Bleu;
        &:hover{
            background-color: $ChrismonRed;
        }
    }
}
// FIN PAGE CREATION

// PAGE PAR DÉFAUT

.table-dark {
&.table-striped {
    tbody tr:nth-of-type(#{$table-striped-order}) {
    background-color: $Sunburst;
    }
}
&.table-hover {
    tbody tr {
    @include hover() {
        color: $GoldenRod;
        background-color: $ChrismonRed;
    }
    }
}
}
.row_items{
    margin-bottom: 40px;
}
.card{
    margin-bottom: 40px;
}
.alert {
    background-color: $Bleu;
    color: $Genger;
    border-color: $Genger;
}

// FIN PAGE PAR DÉFAUT

// ANIMATION PERSONNAGE
.scroll_element_1,
.scroll_element_5{
    animation: 2s haut;
}
.scroll_element_2,
.scroll_element_6{
    animation: bas 2s;
}
.scroll_element_3{
    animation: droite 2s;
}
.scroll_element_4{
    animation: gauche 2s;
}
.scroll_element_7{
    animation: rotation 2s;
}

@keyframes haut {
    0% {
        opacity: 0;
        transform: translateY(100px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    } 
}
@keyframes bas {
    0% {
        opacity: 0;
        transform: translateY(-100px); 
    }
    100% {
        opacity: 1;
    } 
}
@keyframes droite {
    0% {
        opacity: 0;
        transform: translateX(100px); 
    }
    100% {
        opacity: 1;
    } 
}
@keyframes gauche {
    0% {
        opacity: 0;
        transform: translateX(-100px); 
    }
    100% {
        opacity: 1;
    } 
}

@keyframes rotation {
    0% {
        opacity: 0; 
        transform: rotateY(90deg);
    }
    100% {
        opacity: 1;
    } 
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
    } 
}

.faire_apparaitre{
    opacity: 1;
    transform: translateY(0px);
}